* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.blocpage {
	background: url(images/4144946.jpg);
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
header {
	position: relative;
	background-color: white;
	height: 90px;
	align-items: center;
}
.nav {
	width: 700px;
	position: absolute;
	right: 100px;
	display: flex;
	justify-content: space-evenly;
	margin-top: -40px;
	color: hsl(0, 0%, 26%);
}

li {
	list-style-type: none;
}
.bike {
	font-size: 30px;
}
.box img {
	display: flex;
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.illustration {
	position: relative;
	height: 380px;
}
.illustration img {
	margin: 50px 80px;
	transition: 1s all;
}
.textIllustation {
	width: 670px;
	position: absolute;
	right: 0;
	font-weight: 700;
	font-size: 30px;
	padding: 80px 50px;
	color: white;
	transition: 1s all;
}
.citybike {
	color: rgb(22, 108, 189);
}
.btnillustration {
	position: absolute;
	top: 175px;
	right: 470px;
	border: none;
	border-radius: 7px;
	height: 50px;
	width: 150px;
	background-color: white;
	color: #00d9ff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	transition: 1s all;
}
.btnillustration:hover {
	color: rgb(22, 108, 189);
}

.slider {
	margin: auto;
	height: auto;
	width: 55%;
	position: relative;
	box-shadow: darkgray 0 0 8px ;
	border-radius: 20px;
}
#button {
	padding: 20px;
	border: none;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	cursor: pointer;
}
#button:hover {
	color: grey;
}

.next {
	position: relative;
	border-radius: 10px 0px 0px 10px;
	right: 8px;
}

.prew {
	border-radius: 0 10px 10px 0;
	margin-right: 5%;
}
.btnpause {
	position: absolute;
	right: 50%;
	bottom: 2%;
	color: white;
	background-color: rgba(222, 184, 135, 0);
	border: none;
	outline: none;
	font-size: 30px;
	width: 40px;
	cursor: pointer;
}
.btnpause:hover {
	color: grey;
}

	
.title {
	text-align: center;
	padding: 20px;
	color: black;
}
.title2 {
	color: black;
	font-size: 30px;
	padding: 20px;
	text-align: center;
}
#availableBike {
	height: 30px;
	width: 100px;
}
.section {
	position: relative;
	margin: 50px auto;
	border-radius: 7px;
	width: 85%;
	height: 700px;
	background-color: white;
	box-shadow: #727171a1 0px 0px 10px;
}

.formname {
	display: none;
	position: absolute;
	right: 0;
	bottom: 20px;
	margin: 50px;
	color: hsl(0, 0%, 26%);
	background-color: white;
	border: rgb(190, 190, 190) solid 1px;
	border-radius: 10px;
	box-shadow: darkgray 0 0 8px ;
	width: 520px;
	height: 500px;
	transition: 0.5s all;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #75cadf;
}
.logo {
	width: 80px;
	height: 80px;
	margin-left: 20px;
}
#map {
	position: absolute;
	bottom: 20px;
	margin: 50px;
	height: 500px;
	width: 520px;
	border-radius: 10px;
	box-shadow: darkgray 0 0 8px ;
	transition: 0.5s all;
}
.results {
	padding-left: 20px;
	height: 100px;
	font-size: 17px;
}
label {
	padding: 20px;
}

#firstname {
	padding: 5px;
	margin-left: 30px;
	margin-bottom: 20px;
	height: 25px;
	border-radius: 5px;
}
#name {
	padding: 5px;
	margin-left: 14px;
	height: 25px;
	border-radius: 5px;
}

#resabike {
	padding-bottom: 20px;
	padding-left: 10px;
}
.resafinal {
	color: white;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 50px;
}
.detairesa {
	background-color: white;
	position: relative;
	top: -250px;
	width: 400px;
	height: 300px;
}

.resasign {
	display: none;
	background: url(images/pexels-james-wheeler-1519088.jpg) center;
	background-size: cover;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	height: 100%;
	border-radius: 5px;
	background-color: white;
}
.minuteresult {
	position: absolute;
	left: 20px;
	bottom: 30px;
	color: red;
}

.cancel {
	position: absolute;
	bottom: 20px;
	right: 50px;
	align-items: center;
	height: 30px;
	width: 100px;
	background-color: rgb(255, 55, 55);
	color: black;
	border-radius: 5px;
	box-shadow: white 1px 1px 5px;
	cursor: pointer;
}
.cancel:hover {
	color: white;
}
.pensign {
	font-size: 50px;
	padding: 20px;
	position: absolute;
	bottom: 50px;
	left: 300px;
	color: black;
}
.btnreset {
	position: absolute;
	bottom: 8px;
	left: 55px;
	align-items: center;
	height: 30px;
	width: 70px;
	background-color: #c1e6f0;
	color: black;
	border-radius: 3px;
	border: none;
	transition: 0.5s all;
}
.btnreset:hover {
	width: 80px;
	background-color: #75cadf;
	color: white;
	border: none;
}

.btnsend {
	display: none;
	position: absolute;
	bottom: 8px;
	right: 50px;
	align-items: center;
	height: 30px;
	width: 70px;
	background-color: #c1e6f0;
	color: black;
	border-radius: 3px;
	border: none;
	transition: 0.5s all;
}
.btnsend:hover {
	width: 80px;
	background-color: #75cadf;
	color: white;
}

canvas {
	background-color: white;
	border-radius: 7px;
	position: absolute;
	bottom: 50px;
	left: 20px;
	box-shadow: darkgray 0 0 8px ;
	width: 200px;
	height: 115px;
}
.hidenElement {
	display: none;
}

.bikefinalresa {
	font-size: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
}


@media screen and (max-width: 1360px) {
	#map {
		width: 450px;
		height: 500px;
		margin: 30px;
	}
	.formname {
		width: 450px;
		height: 500px;
		margin: 30px;
	}
		.slider {
		width: 80%;
	}
}
@media screen and (max-width: 1150px) {
	
	#map {
		top: 50px;
		width: 90%;
		height: 440px;
		margin: 35px;
		left: 0;
	}
	.formname {
		width: 90%;
		height: 500px;
		margin: 35px;
		left: 0;
	}
	.resasign {
		height: 600px;
	}
	.section {
		height: 1150px;
		width: 95%;
	}
	.title2 {
		font-size: 25px;
	}
	.slider {
		width: 95%;
	}
}
@media screen and (max-width: 1000px) {
	.illustration img {
		margin: 0;
		position: absolute;
		right: 20px;
		bottom: 30px;
	}

	.textIllustation {
		margin: 0;
		padding: 0;
		position: absolute;
		left: 30px;
		top: 20px;
		font-size: 23px;
		width: 450px;
	}
	.btnillustration {
		left: 30px;
		top: 100px;
		height: 40px;
		width: 130px;
	}
	.nav {
		display: flex;
		flex-direction: column;
		right: 0px;
		width: 200px;
		margin-top: -75px;
	}
}

@media screen and (max-width: 550px) {
	.nav {
		width: 150px;
	}

	.textIllustation {
		width: auto;
		font-size: 19px;
		width: 390px
	}

	.next {
		border-radius: 10px 0px 0px 10px;
		margin-left: 83%;
	}

	.prew {
		border-radius: 0 10px 10px 0;
		margin-right: 5%;
	}

	#map {
		top: 40px;
		width: 85%;
		height: 440px;
		left: 0;
	}
	.formname {
		width: 85%;
		height: 600px;
		left: 0;
		bottom: 0;
	}
	.section {
		height: 1200px;
		width: 95%;
	}
	.title2 {
		font-size: 22px;
	}
	.pensign {
		left: 170px;
		bottom: 170px;
	}
	.btnreset {
		padding: 0;
	}
	.btnform {
		right: 7%;
	}

	#firstname {
		width: 130px;
	}
	#name {
		width: 130px;
		margin-left: 15px;
	}
	.slider {
		width: 95%;
	}
	canvas {
		left: 20px;
	}
	.minuteresult {
		bottom: 70px;
	}
	a {
		font-size: 15px;
		padding: 8px;
	}
	.resasign {
		height: 650px;
	}

}
@media screen and (max-width: 400px) {
	.textIllustation {
		width: auto;
		font-size: 15px;
	}
}
